# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.env

# Flask instance folder
instance/


# Flask cache files
*.log
*.sqlite3
flask_session

# IDE-specific files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/
*.egg-info/

# Pipenv files
Pipfile
Pipfile.lock

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# MongoDB URI or sensitive files
*.env
.env.local
.env.development
.env.production